@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

html,body, .full-size
{
    height: 100%;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-color: #252222;
    color: whitesmoke;
}
.full-width > li{
    width: 100%;
}
.control{
    height: 225px;
}
.info{
    height: 65%;
}

.iframe .header,
.iframe .control {
    display: none;
}

.iframe {
    zoom: 0.75;
}

#js{
    margin-bottom: 25px;
}

.CodeMirror.cm-s-ambiance{
    background: #303030;
    color: #f5f5f5;
    box-shadow: none;
}

.cm-s-ambiance.CodeMirror, .cm-s-ambiance .CodeMirror-gutters{
    box-shadow: none;
    border: none
}

#cm3 .CodeMirror {
    /*height: auto;*/
    height: 625px;
}

.CodeMirror::after {
    position: absolute;
    top: 46%;
    right: 40px;
    font-size: 40px;
    color: #252222;
    text-transform: uppercase;
}

#cm1 .CodeMirror::after{
    content: "js";
}
#cm2 .CodeMirror::after{
    content: "php";
}

.control>div{
    overflow: auto;
    max-height: 100%;
}

.control{
    margin-bottom: 20px;
}

.run{
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 999;
    background-color: #252222;
    color: #303030;
}

.run.btn:hover{
    color: #f5f5f5;
}

.inputData>div{
    position: relative;
}

.nav li.active a{
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 9px 15px;
    margin-bottom: 2px;
}

#ip{
    padding: 18px;
}

.correct{
    color: rgb(74, 184, 74);
    display: inline-block;
    width: 24px;
}

.btn.grey{
    background-color: #303030;
}
.btn.grey:hover,
.btn.grey:focus{
    color: #f5f5f5;
}

.answer{
    width: 640px;
    position: absolute;
    right: 15px;
    background: #303030;
    padding: 10px;
    margin-top: 10px;

}

.btn.btn-default{
    color: #333;
}